.radar__chart {
  composes:        radar__el from 'containers/application/styles.pcss';

  width:           70%;
  padding:         35px;
  background:      url('images/tm.svg') center center no-repeat;
  background-size: 60px;
}
