.radar {
  display: block;
}

.radar__el {
  overflow: hidden;
  float:    left;
  height:   100vh;
}

.radar__chart {
  composes:        radar__el;

  width:           75%;
  padding:         35px;
  background:      url('../../images/tm.svg') center center no-repeat;
  background-size: 60px;
}

.radar__nav {
  composes:       radar__el;

  display:        flex;
  flex-direction: column;

  width:          25%;
  background:     #333;
}
