* {
  box-sizing: border-box;
}

body {
  margin:      0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #999;
}

a {
  color: #00d8ff;
}

.radar {
  display: flex;
  height:  100vh;
}

.radar__chart {
  flex:    2;

  padding: 20px;
}

.radar__nav {
  flex-basis: 22.5%;

  overflow-y: scroll;
  background: #fff;
}
