{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "key-spacing": [2, {"align": "value"}],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-multi-spaces": 0,
    "spaced-comment": [2, "always", {"exceptions": ["-", "*"]}],
    "jsx-quotes": [2, "prefer-double"],
    "standard/object-curly-even-spacing": 0,
    "react/sort-comp": [
      2, {
        "order": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "/^on.+$/",
          "/^get.+$/",
          "/^render.+$/",
          "/^.+$/", // All other methods go here
          "render"
        ]
      }
    ]
  },
  "globals": {
    "define": true,
    "jasmine": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "describe": true,
    "it": true
  }
}
