:local(.container) {
  opacity:   0;

  animation: fadeup 0.5s linear forwards;
}

:local(.horizon) {
  stroke:         #999;
  stroke-width:   2px;
  stroke-opacity: 0;
}

%horizonlabel,
:local(.horizonlabel) {
  transition:        fill 0.5s;
  text-transform:    lowercase;
  font-variant:      small-caps;

  dominant-baseline: middle;
  text-anchor:       end;
}

:local(.horizonlabel--active) {
  @extend %horizonlabel;

  fill: #eee;
}

:local(.quadrantlabel) {
  font-size:   24px;
  font-weight: 200;
  text-anchor: middle;
  opacity:     0.5;
}

:local(.blip) {
  cursor:     pointer;
  background: red;

  circle {
    fill: rgba(black, 1);
  }

  &:hover :local(.blip__name) {
    opacity: 1;
  }
}

:local(.blip__name) {
  transition:  0.25s opacity;

  text-anchor: middle;
  font-size:   12px;
  opacity:     0.25
}
