/* Fade up
/*-----------------------------------------------*/
@keyframes fadeup {
  to {
    opacity: 1;
  }
}

.fadeup {
  opacity:   0;
  animation: fadeup 0.5s linear forwards;
}

/* Dash
/*-----------------------------------------------*/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dash {
  animation: dash 1s linear forwards;
}
