/*
$animTimeCirc: 0.7s;
$animTimeLine: 0.3s;
$animTime: $animTimeCirc + $animTimeLine;
*/

:root {
  font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #999;
}

ul {
  padding-left: 20px;
}

a {
  color: inherit;
}

.btn {
  border:     none;
  font:       inherit;
  cursor:     pointer;
  background: none;
}


