<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EA Tech Radar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="app">
      <div class="radar">
        <svg class="radar__chart" viewBox="0 0 800 600">
          <g transform="translate(400, 300)">
          <% for (var i = 0; i < 5; i++) { %>
            <circle class="proto proto--horizon" r="<%=300 - (i * 60)%>" fill="transparent"></circle>
          <% } %>
          <% for (var j = 0; j < 5; j++) { var y = (j + 1) * -60; %>
            <line class="proto proto--line" x1="0" x2="400" y1="<%= y %>" y2="<%= y %>"></line>
          <% } %>
          </g>
        </svg>
        <div class="radar__nav">
          <p></p>
        </div>
      </div>
    </div>
    <% if (htmlWebpackPlugin.options.production) { %>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js');
      }
    </script>
    <% } %>
  </body>
</html>
