<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EA Tech Radar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if (o.htmlWebpackPlugin.options.production) { %}
    <link rel="stylesheet" href="app.{%=o.webpack.hash%}.css" media="all">
    {% } %}
  </head>
  <body>
    <div id="app" class="app">
      <div class="radar">
        <div class="radar__chart"></div>
        <div class="radar__nav"></div>
      </div>
    </div>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script async src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
