<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EA Tech Radar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if (o.htmlWebpackPlugin.options.production) { %}
    <link rel="stylesheet" href="app.{%=o.webpack.hash%}.css" media="all">
    {% } %}
  </head>
  <body>
    <div id="app" class="app">
      <div class="radar" style="display: flex; height: 100vh">
        <svg class="radar__chart" viewbox="0 0 800 600">
          <g transform="translate(400, 300)">
            <circle class="proto proto--horizon" r="300"></circle>
            <circle class="proto proto--horizon" r="240"></circle>
            <circle class="proto proto--horizon" r="180"></circle>
            <circle class="proto proto--horizon" r="120"></circle>
            <circle class="proto proto--horizon" r="60"></circle>
            <line class="proto proto--line" x1="0" x2="400" y1="-60" y2="-60"></line>
            <line class="proto proto--line" x1="0" x2="400" y1="-120" y2="-120"></line>
            <line class="proto proto--line" x1="0" x2="400" y1="-180" y2="-180"></line>
            <line class="proto proto--line" x1="0" x2="400" y1="-240" y2="-240"></line>
            <line class="proto proto--line" x1="0" x2="400" y1="-300" y2="-300"></line>
          </g>
        </svg>
        <div class="radar__nav"></div>
      </div>
    </div>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script async src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
