:local(.unsupported) {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;

  height: 100vh;
}

:local(.radar) {
  display: flex;
  height:  100vh;
}

:local(.radar__nav) {
  flex-basis: 22.5%;

  overflow-y: scroll;
  background: #fff;
}
