.search {
  flex-shrink: 0;

  display:     flex;

  padding:     10px;
}

.search__input {
  flex:       1;

  transition: 0.25s background;

  padding:    5px 10px;
  border:     none;
  outline:    none;
  background: #fff;

  &:focus {
    background: lightgoldenrodyellow;
  }
}

.search__btn {
  transition:     0.25s background, 0.25s color;

  text-transform: lowercase;
  font-variant:   small-caps;
  outline:        none;
  background:     #ccc;
  color:          #666;

  &:focus {
    background: #666;
    color:      #ccc;
  }
}
